
.gen{
	width: 94%;
	margin-left: 30px;
}

.imaenc img{
height: 10em;
width: 78em;
margin-left: 2em;
border: black solid ;
border-radius: 5px;
}

.cuerpo{
	width: 100%;
	border-radius: 5px;
	border: black solid;
}

ul li{
	display: inline-block;
	margin: 10px;
	font-size: 45px;
}

ul a{
	padding: 19px;
	height: 5px;
	border: solid black;
	border-radius: 10px;
	background: #770000;
	color: white;
	text-decoration: none;
}

ul a:hover{
	padding: 19px;
	height: 5px;
	border: solid black;
	border-radius: 10px;
	background: #000033;
	color: white;
	text-decoration: none;
}